@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    font-family: 'Dancing Script', cursive;
}
nav {
    display: flex;
    justify-content: space-between,;
    background-color: white;
}

#logo {
    max-height: 50px;
    max-width: 50px;
}
#navlist {
    display: flex;
    list-style: none;
    gap: 50px;
    font-weight:900;
}
#bag {
    max-width: 50px;
    max-height: 50px;
    display:flex ;
    justify-content: space-between;
}
#exxplore {
    color: black;
    
}
#exxplore {
    color: black;
    background-color: #ffe8a3;
    border-radius: 15px;
    padding: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
}
#section1 {
    background-image: url(./Banner.png);
    height: 400px;
    width: 100% ;
    background-size: cover;
    color:white;
    display: flex;
    align-items: center;
  
}
#p1 {
    font-size: 20px;
}
.section {
    margin: 50px;
}
.button{
    background-color:#a9c6d6;
    border: none;
    border-radius: 15px;
    max-width: 500px;
    max-height: 100px;
}
#imaage{
    height: 250px;
}
#cardon {
    display: flex;
    align-items: center;
    font-size: 25px;
}
.p{
    font-size: 20px
}
.avs {
    max-width: 100px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
.avis {
    background-color: #ffe8a3;
    margin: 50px;
    display: flex;
    border-radius: 15px;
}
.sec {
    margin-left:50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe8a3;
}
#h1 {
    padding: 50px;
}
#txat {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
#btn{
    display: flex;
    justify-content: center;
}
span {
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnn {
    font-size: 50px;
}
