@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    font-family: 'Dancing Script', cursive;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
}
#logo {
    max-height: 50px;
    max-width: 50px;
}
#navlist {
    display: flex;
    list-style: none;
    gap: 50px;
    font-weight:900;
}
#bag {
    max-width: 50px;
    max-height: 50px;
    display:flex ;
    justify-content: space-between;
}

#prdct {
    background-color: #ffe8a3;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

#prdct {
    color: black;
    
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 15px;
}
#container{
    background: #ffe8a3;
    border-radius:15px;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-column: 1/3;
    grid-row: 1/3;
}